.rating-card img {
    border-radius: 16px;
    max-width: 20%;
    max-height: 50%;
}

.rating-card-avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 2%;

}

.rating-name {
    margin-inline: 10%;
}

.rating-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 20em;
    max-width: 20em;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 2%;
    background-color: white;
    align-items: center;

}

.card-body {
    padding: 2%;
}

.card a {
    text-decoration: none;
}

.card-text {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #495E57;
    margin-left: 3%;
}

.card-price {
    color: #EE9972;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.rating-card-upper {
    max-width: 40%;
    max-height: 40%;
    padding-left: 3%;
}

.rating-star {
    width: 7%;
    height: 5%;
}

.rating-card-body {
    margin-left: 5%;
    margin-top: 5%;
}