.testimonals-section {
    height: 60vh;
    padding: 5%;
    width: '100%';
    background-color: #FBDABB;
}

.testimonals-section-upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: '100%';
    justify-content: center;
}

.testimonals-card-section {
    display: flex;
    flex-direction: row;
    width: '100%';
    align-items: flex-start;
    justify-content: space-evenly;
}