.header-section {
    padding: 7%;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #495E57;
}

.left {
    padding: 3%;
}

.hero-image {
    width: 100%;
    max-width: 375px;
    height: auto;
    border-radius: 16px;
    margin-bottom: 40px;
}

.hero-text {
    color: #FFFFFF;
    width: 100%;
    max-width: 600px;
    text-align: start;
}

@media (max-width: 767px) {
    .testimonial-card {
        flex-basis: calc(50% - 20px);
    }

    .header-section {
        padding: 7%;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: #495E57;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-text {
        color: #FFFFFF;
        width: 100%;
        max-width: 600px;
        text-align: center;
    }
}

/* Adjust the card width and margin for even smaller screens */
@media (max-width: 479px) {
    .testimonial-card {
        flex-basis: calc(100% - 20px);
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}