.form-container {
    display: grid;
    place-items: center;
    width: 100%;
}

.form-fields {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.form {
    width: 80%;
    height: 30em;
    border-radius: 16px;
    font-family: 'karla';
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3%;
    border-radius: 16px;
}

input[type=text],
select,
input[type=date],
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'karla';
}

.primary-button {
    width: 200px;
    height: 60px;
    border-radius: 8px;
    border-style: none;
    background: #F4CE14;
    font-family: 'karla';
    font-size: 18px;
    line-height: 21px;
    color: white;
    border-width: '2%';
    color: white;
    border: 2px solid white;
    font-weight: 400;
}

.primary-button:hover {
    width: 200px;
    height: 60px;
    border-radius: 8px;
    border-style: none;
    background: #F67458;
    font-family: 'karla';
    font-size: 18px;
    line-height: 21px;
    color: white;
    border: 2px solid white;
    font-weight: 400;
}

.primary-button:active {

    height: 60px;
    border-radius: 8px;
    border-style: none;
    background: #495E57;
    font-family: 'karla';
    font-size: 18px;
    line-height: 21px;
    color: white;
    border: 2px solid white;
    border-color: white;
    font-weight: 400;
}

.error {
    color: rgb(165, 13, 13);
}