.info-section {
    padding: 7%;
    height: 56vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.info-image1 {
    width: 272px;
    height: 338px;
    position: relative;
    left: 30%;
    top: 30%;

    border-color: white;
    border-radius: 16px;
}

.info-image2 {
    width: 272px;
    height: 338px;
    z-index: 2;
    border-color: white;
    border-radius: 16px;
}

.img-container {

    height: 56vh;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: start;
    padding-bottom: 5%;
}

.info-text {
    width: 40%;
}