/* Set a minimum height for the info section */
.info-section {
    min-height: 500px;
    padding: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* Use flexbox to stack the images and text vertically on smaller screens */
.img-container {
    height: 40em;
    width: 40em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

/* Adjust the position and size of the images for smaller screens */
.info-image1 {
    width: 100%;
    max-width: 272px;
    height: 20em;
    position: relative;
    left: 30%;
    top: 20%;
}

.info-image2 {
    width: 100%;
    max-width: 272px;
    height: 20em;
    z-index: 2;
}

/* Set the width of the text container to be responsive */
.info-text {
    width: 100%;
    max-width: 600px;
    text-align: left;
}

@media (max-width: 767px) {
    .info-section {
        min-height: 500px;
        padding: 7%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .info-text {
        width: 100%;
        max-width: 600px;
        text-align: center;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .img-container {
        height: 40em;
        width: 40em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
    }

    .img-container {
        height: 40em;
        width: 40em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
        padding-right: 35%;
    }

}

/* Adjust the card width and margin for even smaller screens */
@media (max-width: 479px) {
    .info-section {
        min-height: 500px;
        padding: 7%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .info-text {
        width: 100%;
        max-width: 600px;
        text-align: center;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .img-container {
        height: 40em;
        width: 40em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
        padding-right: 35%;
    }
}