nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
    font-family: 'karla';
}

nav ul li a:hover {
    color: #F67458;
}

nav .logo {
    max-width: 100px;
    height: auto;
}

/* Media Query for Responsive Design */

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    nav ul li {
        margin: 1rem 0;
    }
}